h1 {
text-align: center;
color:rgb(219, 140, 186);
font-size:45px;
font-family: 'Baloo Bhai', cursive;
}

h3 {
text-align: left;
color:#FB5D4E;

font-size:35px;
font-family:'Satisfy', cursive;
}
h4{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
}

p {
text-align: center;
color: rgb(20, 35, 247);
font-size: 30px;
font-family: 'Baloo Bhai', cursive;
}
ul{
list-style: square;
}
li{
  font-style: oblique;
  font-size:20px;
}
body{
  background-color:rgb(64, 62, 57);
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: orange;
}
a:visited {
  color: blue;
}
a:hover {
  color: #F2545B;
}
a:active, a:focus {
  color: teal;
}
#parent{
display:inline-flex;
}
.boxed{
  width: 250px;
  padding: 20px;
  border: 10px solid pink;
  margin:0;
  float:left;
}
.paragraph{
  background-color:#98EEF7;
  border: 10px solid blue;
  float: right;
}
.circle, .rectangle, .trapezoid, .triangle {
  margin: 0 30px;
}
.circle {
    width: 150px;
    height: 150px;
    background-color: #40a977;
    border-radius: 50%;
    float: left;
}
.rectangle {
  height: 100px;
  width: 200px;
  background-color: #40a977;
  float: right;
}
.center{
  text-align: center;
  font-size: 30px;
}
.trapezoid {
	border-bottom: 75px solid #40a977;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	height: 20px;
	width: 125px;
}
.triangle{
	width:0px;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #40a977;
}
#shapes{
display:flex;
}
img {
    height: 200px;
}

img.blur {
    filter: blur(3px);
}
