h1 {
text-align: center;
color:rgb(219, 140, 186);
font-size:45px;
font-family: 'Baloo Bhai', cursive;
}

h3 {
text-align: left;
color:#FB5D4E;

font-size:35px;
font-family:'Satisfy', cursive;
}
h4{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
}

p {
text-align: center;
color: rgb(20, 35, 247);
font-size: 20px;
font-family: monospace;
}
ul{
list-style: square;
}
li{
  font-style: oblique;
  font-size:20px;
}
body{
  background-color:rgb(64, 62, 57);
}
#parent{
display:inline-flex;
}
.boxed{
  width: 250px;
  padding: 10px;
  border: 5px solid pink;
  margin:0;
  float:left;
}
.paragraph{
  background-color:#98EEF7;
  float: right;

}
